@model NT1_GestionPacientes2.Models.Paciente

@{
    ViewData["Title"] = "Eliminar Paciente";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Eliminar Paciente</h1>

<h4>Paciente</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="DeletePacient">
            <input type="hidden" value="Id" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="nombre" class="control-label"></label>
                <input asp-for="nombre" class="form-control" readonly />
                <span asp-validation-for="nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="beneficio" class="control-label"></label>
                <input asp-for="beneficio" class="form-control" readonly />
                <span asp-validation-for="beneficio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="edad" class="control-label"></label>
                <input asp-for="edad" class="form-control" readonly />
                <span asp-validation-for="edad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="telefono" class="control-label"></label>
                <input asp-for="telefono" class="form-control" readonly />
                <span asp-validation-for="telefono" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="email" class="control-label"></label>
                <input asp-for="email" class="form-control"  readonly/>
                <span asp-validation-for="email" class="text-danger"></span>
            </div>
          
            <div class="form-group">
                <button type="submit" class="btn btn-success">Eliminar Paciente</button>

            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Pacientes">Back to List</a>
</div>

